<div class="div-images">
    <a class="a-gallery-preview" href="<%= QINIU_CONFIG['domain'] + _gallery_gallerys.key %>" target="_blank" title="Preview">
        <img src="<%= QINIU_CONFIG['domain'] + _gallery_gallerys.key %>" class="img-gallery img-loaded" />
        <div class="div-gallery-key">
            <span class="span-gallery-key"><%= _gallery_gallerys.key %></span>
        </div>
    </a>
</div>
