<%= stylesheet_link_tag 'github.css' %>
<div class="div-blog-wrap">
<div class="div-card">
    <h3>ABOUT</h3>
    <hr>
    <div class="markdown-body div-about">
        <%= @about %>
    </div>
    <div class="markdown-body div-dnoate">
        <p>希望得到您的捐助，让我有120%的动力更新 Blog，谢谢~</p>
        <img src="/images/apw3d6rhnbs2c0uad8.png">
    </div>
</div>
</div>
<%= partial 'home/right_slider' %>
