<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Michael Dai's Blog ~ Remember My Life</title>
		<link rel="shortcut icon" media="screen" type="image/x-icon" href="/images/favicon.ico" />
		<link href="/stylesheets/font-awesome.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/stylesheets/soon.css" media="screen" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="div-comming-soon">
			<span>Coming Soon...</span>
		</div>
	</body>
</html>