@charset "utf-8";

html {
    color:#666;
    background-color: #1c1c1c;
}

body {
    background: url('../images/bg.jpg') repeat;
}

body, select, button {
    font-size: 12px;
    /*font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei", "微软雅黑";*/
    font-family: Verdana, "Bitstream Vera Sans","Microsoft YaHei", "微软雅黑";
    line-height: 24px;
    vertical-align: baseline;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}

a, a:link {
    text-decoration: none;
}

a {
    color: #337ab7;
    background-color: transparent;
}

a:focus, a:hover {
    color: #23527c;
}

a:active, a:hover {
    outline: 0;
}