<%= stylesheet_link_tag 'github.css' %>
<%= partial 'blog/blog', :collection => @blogs %>
<% if account_login? %>
    <div class="div-fab">
        <a href="/admin/blog/new_blog" class="fab-button">
          <span>+</span>
        </a>
    </div>
<% end %>