<div class="div-comment">
    <div class="div-comment-person">
        <img class="img-comment-portrait" src="../images/comment_avater.png">
        <div class="div-person-info">
            <span><a class="quote-tag fa fa-quote-right" id="<%= comment.id %>"></a></span>
            <span class="span-comment-person"><%= comment.username.to_s %></span>
            <span class="span-comment-datetime"><%= comment.create_datetime.strftime('%F %T') %></span>
        </div>
    </div>
    <div class="markdown-body div-comment-content">
        <span><%= md_content_comment_helper comment.comment %></span>
    </div>
</div>